<.header>
  My Dashboard
  <:subtitle>Total Number of Posts: <%= @posts %></:subtitle>

  Actions:
<%!-- <:actions>
  <.link patch={~p"/posts"} phx-click={JS.push_focus()}>
    <.button>List All Posts</.button>
  </.link>
</:actions> --%>

<%!-- <:actions>
    <.link patch={~p"/posts/new"}>
      <.button>New Post</.button>
    </.link>
</:actions> --%>
</.header>

